/* common sheared style */
body {
    font-family: 'The Nautigal', cursive;
    font-family: 'lato', sans-serif;

}

.textPrimary {
    color: red;
}

.btnPrimary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;

}

.sectionTitle {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;
    line-height: normal;
}

.sectionDrscription {
    color: #757575);
    text-align: center;

    font-size: 18px;

}

/* nav related style  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
}

.fontTitle {
    color: #181818;

    font-size: 60px;
    font-weight: 1000;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 27px;


}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related style */
.header {
    background-color: #e2d7cf;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerGreeting {
    font-size: 45px;
    margin-bottom: 0px;

}

.bannerTitle {
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner .profilePicture {
    width: 500px;
}

.marginDis {
    padding-bottom: 10px;
    max-width: 500px;
}

/* Main section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #faf0ea;
    text-align: center;
    margin: 130px;
}

.aboutInfoContainer {
    display: flex;
    justify-content: space-around;
}

.aboutInfo {
    text-align: center;
}

#whatIDo {
    padding: 20px 60px;
}

/* skills related styls  */
.skillsContainer {
    display: flex;
    gap: 24px;

}

.skills {
    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume section style */
.resumeColumnTitle {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resumeContainer {
    display: flex;
    gap: 50px;

}

.resumeItemDescription {
    color: #757575;
    font-weight: 400;
    line-height: 28px;
    max-width: 90%;
}

.exprienceDetils {
    color: #757575;
    font-weight: 400;
    line-height: 28px;
    max-width: 90%;
}

.resumeContainer hr {
    margin: 20px;
}

.sectionTitle {
    margin-right: 50px;
}

.downloadCv {
    text-align: center;
    margin-top: 50px;
}

/* Footer style */
footer {
    display: flex;
    margin-top: 100px;
    background: #f1ece8;
    padding: 130px 200px;
    gap: 100px;
}

.footerColumn {
    width: 50%;

}
.socialLinks a{
    margin-right: 24px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 30px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    width: 100%;

}